
<div class="container">
  <div class="centering text-center" >

    <form role="form" action="/search/" method="post">
      <div class="row ">
        <div class="col-xs-10 col-sm-10">
          <div class="form-group">
            <input type="text" class="form-control" name="search_key" required="true">
          </div>  
        </div>
        <div class="col-xs-2 col-sm-2">
          <button type="submit" class="btn btn-primary" name="search">Search</button>
        </div>
    </form>
    
  </div>
    <h3><center><strong><i>"Search anything related to music"</i></strong></center></h3>
</div>


